.styleForSubCategoty {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleForSubCategotyOne {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
}

.styleForSubCategotyTwo {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}

.styleForSubCategotyTree {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
}

.spaceBLocks {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
